body {
    background-color: rgb(227, 226, 255);
    cursor: crosshair;
    }
iframe {
    width: 500px;
}
/*tableform.html taulukolle rajat*/
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
#logo {
    width: 4em;
    height: auto;
}
/* Tietoja meistä -sivun avatarit.*/
.avatars {
    max-width: 6em;
    max-height: 6em;
    float: left;
}
/* Kokeilu ilman floattia omassa sarakkeessaan olevalle avatarille.*/
.avatars2 {
    float: left;
    max-width: 6em;
    max-height: 6em;
    display: block;
}
/*em1 sivulla olevan placeholderin tekstin säädöt*/
.placeholderteksti {
    color: white;
    font-weight: bold;
    font-size: larger;
}
/* Allaoleva rajaa karusellikuvan leveyden 1200px+ leveyksillä jotta kuvasuhde pysyy järkevänä.
Toimii myös karusellikuvan pienennykseen pitäen kuvasuhteen samana.*/
#carouselcol {
    max-width: 50em;
}
/* Allaoleva asettaa karusellin korkeuden*/
.carousel-item {
        max-height: 35em;
        object-fit: scale-down;
        object-position: 10em;
}
/*Etusivujen thumbnailien kokomääritys*/
.img-thumbnail {
    max-width: 6em;
}
/*sivujen täyterako*/
.fillergap {
    min-height: 1em;
}

/*1em margin sitä tarvitseville:*/
.margintop1em {
    margin-top: 1em;
}
#tietojameistaotsikko {
    text-align: center;
}
/*Tietoja meistä -sivulla olevan placeholderin koko:*/
#placeholderkoko {
    width: 200px;
    height: 200px;
}
/*Viiva esim divien alareunaan. Käytössä etusivulla + kissasivuilla.*/
.solidbottomborder {
    border-bottom-style: solid;
}
/*Etusivun kissa1 fonttimääritykset*/
#kissa1font {
    font-size: xx-large;
}
/*Etusivun kissa2 tekstien tasaus oikealle + fonttikoko*/
#kissa2font {
    text-align: right;
    font-size: xx-large;
}
/*Etusivun kissa2 kuvan tasaus oikealle (Ei voi käyttää ylempää, suurentaa kuvan)*/
#kissa2pic {
    text-align: right;
}
footer {
    background-color: gainsboro;
    text-align: center;
}
footer::after {
    content: "Toni Pohjanheimo - Verkkosivujen kehittäminen";
}