table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    color: red;
}
#submitbutton{
    margin-left: 5em;
    padding:10px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
#submitbutton:hover {background-color: #3e8e41}
#submitbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.formmargin {
    margin-left: 1em;
    margin-right: auto;
}
/*html -taulukon rowspandemon muotoilu*/
#table1 {
    font-size: larger;
    word-wrap: normal;
    max-width: 6em;
    writing-mode: vertical-rl;
}
/*Tekstilaatikon ja uutiskirje -napin labelin teksti mustana:*/
.table1 {
    color: black;
}
/*Colspandemon tekstikeskitys*/
#table2 {
    text-align:center;
}
